* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../Images/A.jpg');
    font-family: 'Montserrat', sans-serif;
}

.checkout-container {
    position: relative;
    right: 350px;
    top: 30px;
    max-width: 400px;
    margin: 80px auto;
    background-color: #353432;
    padding: 20px;
    border-radius: 8px;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.checkout-container h1 {
    text-align: center;
    color: orangered;
    margin-bottom: 15px;
    font-size: 30px;
}

.order-type {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

.order-type label {
    font-size: 14px;
    cursor: pointer;
}

.checkout-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: none;
    outline: none;
    border-radius: 4px;
    font-size: 14px;
}

.total-price {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 10px 0;
    font-weight: bold;
    color: #FC4202;
}

.confirm-btn {
    width: 100%;
    padding: 10px;
    background-color: #FC4202;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
}

.confirm-btn:hover {
    background-color: #d13a00;
}
